<div data-section-id="{{ section.id }}" data-section-type="section-testimonial" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="container container-v2">
    <div class="section-testimonial-v1 lazyload" {% if section.settings.ena_bgimg %}{% if section.settings.testimonial_bg != blank %} data-bg="{{section.settings.testimonial_bg|img_url:'master'}}" {% else %} style="background-image: url(//via.placeholder.com/1920x850);" {% endif %} {% else %} style="background-color : {{section.settings.bg_color}}" {% endif %}>
      <div class="js-testimonial-v1-slide">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == "testimonial" %}
        <div class="">
          <div class="testimonial-inner">
            <div class="testimonial-info col-11 col-sm-10 col-md-9 col-lg-7 mx-auto">
              <div class="avatar">
                {% if block.settings.block_img != blank %}
                <img width="88" height="88" data-src="{{block.settings.block_img|img_url:'master'}}" class="lazyload img-responsive" alt="testimonial">
                {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
              <div class="author-info">
                <h3 style="color: {{block.settings.color_block_name}}" class="mb-1" >{{block.settings.block_name}}</h3>
                <p style="color: {{block.settings.color_block_des}}" class="text-position" >{{block.settings.block_des}}</p>
              </div>
              <p style="color: {{block.settings.color_block_content}}" class="content mar-bottom-15" >{{block.settings.block_content}}</p> 

            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}{
  "name": "TESTIMONIAL V1",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "header",
      "content": "Testimonial"
    },
    {
      "type": "checkbox",
      "id": "ena_bgimg",
      "label": "Enable Background Image",
	  "default": true
    },
    {
      "type": "image_picker",
      "id": "testimonial_bg",
      "info": "1920 x 850px recommended",
      "label": "Background image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "block_name",
          "label": "Name",
          "default": "DESTINEE"
        },
        {
          "type": "color",
          "id": "color_block_name",
          "label": "Color",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "block_des",
          "label": "Info",
          "default": "Marketing Personal"
        },
        {
          "type": "color",
          "id": "color_block_des",
          "label": "Color",
          "default": "#c6cad0"
        },
        {
          "type": "textarea",
          "id": "block_content",
          "label": "Content",
          "default": "Saved our business! We have no regrets! Thanks for the great service. This template is worth much more than I paid Saved our business! We have no regrets!"
        },
        {
          "type": "color",
          "id": "color_block_content",
          "label": "Color",
          "default": "#000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TESTIMONIAL V1",
      "category": "HOME",
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
            
          }
        },
        {
          "type": "testimonial",
          "settings": {
            
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}