<div data-section-id="{{ section.id }}" data-section-type="section-banner-v6" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v6 {% if section.settings.ena_margin_top %}  mt-all {% endif %}" style="background: {{section.settings.bg_section}}">
    <div class="container container-v2">
      <div class="row">
        <div class="col-md-5"> 
          <div class="banner"> 
            <div class="box-img">
              <a href="{{section.settings.url_button}}">
                {% if section.settings.img_banner1 != blank %}
                <img loading="lazy" width="" height="" data-src="{{ section.settings.img_banner1 | image_url }}" class="lazyload img-fluid w-100" alt="_img_banner_">
                {% else %}
                <img loading="lazy" width="" height="" data-src="https://via.placeholder.com/526x480" class="lazyload img-fluid w-100" alt="_img_banner_">
                {% endif %}
              </a> 
            </div>
            <div class="banner-content">
                {% if section.settings.sub_title_banner != blank %}
                <p class="sub-title" style="color: {{section.settings.color_sub_title}}">{{section.settings.sub_title_banner}}</p>
                {% endif %}
                
                {% if section.settings.title_banner != blank %}
                <h3 class="title-banner" style="color: {{section.settings.color_title}}" >{{section.settings.title_banner}}</h3>
                {% endif %}
  
                {% if section.settings.button_banner != blank %}
                <a href="{{section.settings.url_banner}}" class="button-shop button-shop-{{ section.id }}" title="">{{section.settings.button_banner}}</a>
                {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <div class="banner">
                <div class="box-img">
                  <a href="{{section.settings.url_button}}">
                    {% if section.settings.img_banner2 != blank %}
                    <img loading="lazy" width="" height="" data-src="{{ section.settings.img_banner2 | image_url }}" class="lazyload img-fluid w-100" alt="_img_banner_">
                    {% else %}
                    <img loading="lazy" width="" height="" data-src="https://via.placeholder.com/361x480" class="lazyload img-fluid w-100" alt="_img_banner_">
                    {% endif %}
                  </a>
                </div>
                <div class="banner-content">
                  {% if section.settings.sub_title_banner2 != blank %}
                  <p class="sub-title" style="color: {{section.settings.color_sub_title}}">{{section.settings.sub_title_banner2}}</p>
                  {% endif %}
                  
                  {% if section.settings.title_banner2 != blank %}
                  <h3 class="title-banner" style="color: {{section.settings.color_title}}">{{section.settings.title_banner2}}</h3>
                  {% endif %}
    
                  {% if section.settings.button_banner2 != blank %}
                  <a href="{{section.settings.url_banner}}" class="button-shop button-shop-{{ section.id }}" title="">{{section.settings.button_banner2}}</a>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-6"> 
              <div class="banner">
                <div class="box-img">
                  <a href="{{section.settings.url_button}}">
                    {% if section.settings.img_banner3 != blank %}
                    <img loading="lazy" width="" height="" data-src="{{ section.settings.img_banner3 | image_url }}" class="lazyload img-fluid w-100" alt="_img_banner_">
                    {% else %}
                    <img loading="lazy" width="" height="" data-src="https://via.placeholder.com/361x480" class="lazyload img-fluid w-100" alt="_img_banner_">
                    {% endif %}
                  </a> 
                </div>
                <div class="banner-content">
                  {% if section.settings.sub_title_banner3 != blank %}
                  <p class="sub-title" style="color: {{section.settings.color_sub_title}}">{{section.settings.sub_title_banner3}}</p>
                  {% endif %}
                  
                  {% if section.settings.title_banner3 != blank %}
                  <h3 class="title-banner" style="color: {{section.settings.color_title}}">{{section.settings.title_banner3}}</h3>
                  {% endif %}
    
                  {% if section.settings.button_banner3 != blank %}
                  <a href="{{section.settings.url_banner}}" class="button-shop button-shop-{{ section.id }}" title="">{{section.settings.button_banner3}}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .section-banner-v6 .banner .banner-content .button-shop-{{ section.id }} {
    color: {{section.settings.color_btn}};
    background:transparent ;
    border: 2px solid  {{section.settings.color_btn}};
  }
  .section-banner-v6 .banner .banner-content .button-shop-{{ section.id }}:hover {
    color: {{section.settings.color_btn_hover}};
    background: {{section.settings.bg_btn_hover}};
    border: 2px solid  {{section.settings.bg_btn_hover}};
  }
</style>
{% schema %}
{
  "name": "BANNER V6",
  "settings": [
    {
      "type": "checkbox",
      "id": "ena_margin_top",
      "label": "Enable Add Margin Top",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "url",
      "id": "url_button",
      "label": "URL Button Banner",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Banenr 1"
    },
    {
      "type": "image_picker",
      "id": "img_banner1",
      "label": "Image Banner",
      "info": "600 x 418px recommended"
    },
    {
      "type": "text",
      "id": "title_banner",
      "label": "Title Banner",
      "default": "Decor & Furniture"
    },
    {
      "type": "text",
      "id": "sub_title_banner",
      "label": "Sub Title Banner ",
      "default": "Decor & Furniture"
    },
    {
      "type": "text",
      "id": "button_banner",
      "label": "Button Banner ",
      "default": "Shop now"
    },
    {
      "type": "header",
      "content": "Banenr 2"
    },
    {
      "type": "image_picker",
      "id": "img_banner2",
      "label": "Image Banner 2",
      "info": "600 x 418px recommended"
    },
    {
      "type": "text",
      "id": "title_banner2",
      "label": "Title Banner 2",
      "default": "Decor & Furniture"
    },
    {
      "type": "text",
      "id": "sub_title_banner2",
      "label": "Sub Title Banner 2",
      "default": "Decor & Furniture"
    },
    {
      "type": "text",
      "id": "button_banner2",
      "label": "Button Banner 2",
      "default": "Shop now"
    },
    {
      "type": "header",
      "content": "Banenr 3"
    },
    {
      "type": "image_picker",
      "id": "img_banner3",
      "label": "Image Banner 3",
      "info": "600 x 418px recommended"
    },
    {
      "type": "text",
      "id": "title_banner3",
      "label": "Title Banner 3",
      "default": "Decor & Furniture"
    },
    {
      "type": "text",
      "id": "sub_title_banner3",
      "label": "Sub Title Banner 3",
      "default": "Decor & Furniture"
    },
    {
      "type": "text",
      "id": "button_banner3",
      "label": "Button Banner 3",
      "default": "Shop now"
    },
    {
      "type": "header",
      "content": "Button Color"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title banner",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_sub_title",
      "label": "Color Sub Title banner",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_btn",
      "label": "Color button banner",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_btn_hover",
      "label": "Color button banner Hover",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_btn_hover",
      "label": "Background button Hover",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "BANNER V6",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}