<div class="container container-v2">
  <h1 style="color:{{ settings.color_main2 }}">{{ section.settings.title }}</h1>
  <div class="wbi-wrapper">
    <div class="wbi-card">
      <img class="wbi-icon" src="{{ "nature.svg" | asset_url }}">
      <h2 class="wbi-title">AUTHENTICITY</h2>
      <p class="wbi-content">Bringing you the purest oils straight from our farms</p>
    </div>
    <div class="wbi-card">
      <img class="wbi-icon" src="{{ "coconut-oil.svg" | asset_url }}">
      <h2 class="wbi-title">TRADITION</h2>
      <p class="wbi-content">Using the good old wood press technique, preserving age-old traditions</p>
    </div>
    <div class="wbi-card">
      <img class="wbi-icon" src="{{ "honest.svg" | asset_url }}">
      <h2 class="wbi-title">HONESTY</h2>
      <p class="wbi-content">100% transparent and thoroughly lab-tested for your peace of mind</p>
    </div>
    <div class="wbi-card">
      <img class="wbi-icon" src="{{ "goal.svg" | asset_url }}">
      <h2 class="wbi-title">COMMUNITY</h2>
      <p class="wbi-content">Supporting rural India by providing employment to local people</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "We Believe In Section",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    }
  ],
  "presets": [{ "name": "We Believe In", "settings": { "title": "We Believe In" } }],
  "class": "we-believe-in"
}
{% endschema %}
