<div class="container container-v2">
    <h1 style="color:{{ settings.color_main2 }}">{{ section.settings.title }}</h1>
    <div class="wbi-wrapper">
        <div class="wbi-card">
            <img class="wbi-icon" src="{{ "authenticity.svg" | asset_url }}" />
            <h2 class="wbi-title">AUTHENTICITY</h2>
        <p class="wbi-content">Bringing purest form of food direct from the farms</p>
        </div>
        <div class="wbi-card">
            <img class="wbi-icon" src="{{ "authenticity.svg" | asset_url }}" />
            <h2 class="wbi-title">TRADITION</h2>
        <p class="wbi-content">Harnessing age-old wisdom passed down by Grandmas</p>
        </div>
        <div class="wbi-card">
            <img class="wbi-icon" src="{{ "authenticity.svg" | asset_url }}" />
            <h2 class="wbi-title">HONESTY</h2>
        <p class="wbi-content">Being 100% transparent & thoroughly lab-tested</p>
        </div>
        <div class="wbi-card">
            <img class="wbi-icon" src="{{ "authenticity.svg" | asset_url }}" />
            <h2 class="wbi-title">PURPOSE</h2>
        <p class="wbi-content">Empowering rural India with employment & fair trade</p>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "We Believe In Section",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    }
  ],
  "presets": [{ "name": "We Believe In", "settings": { "title": "We Believe In" } }],
  "class": "we-believe-in"
}
{% endschema %}
